<div class="track__inner">
  <div class="track__title-container">
    <span class="track__title"><%= title %></span>
  </div>
  <div class="keystroke__container">
    <button class="keystroke" data-action="play" data-keystroke="<%= keystroke %>" title="No files added to this track yet"><%= keystroke %></button>
  </div>
  <%- include('actions') %>
</div>