<div class="track__inner">
  <div class="track-title__container">
    <span class="track-title">Flames</span>
  </div>
  <div class="keystroke__container">
    <button class="keystroke" data-action="play" title="No files added to this track yet">1</button>
  </div>
</div>