<div class="dialog__outer">
  <div class="dialog__inner">
    <button data-action="close-dialog" aria-label="close dialog" title="Close infobox">&times;</button>
    <h2>Help section</h2>
    <h3>Themes</h3>
    <p>
      First, feel free to rename the sample theme by double clicking the title,
      or remove it completely by clicking the trash can next to the theme-name.
      Now, create your own theme by writing something in the "create new theme" textbox and
      pressing the button with a plus icon.
    </p>
    <h3>Presets</h3>
    <p>
      A default preset is automatically added, but again, just rename it if you'd like.
      A preset contains all the volume settings you make for the tracks, and which
      tracks should be playing for a given preset. If you select different presets
      it will fade out tracks that are no longer playing, and fade the volume sliders
      into the preset position.
    </p>
    <h3>Tracks</h3>
    <p>
      Add a track by following the same procedure, filling out the text box, and clicking the
      adjacent button with the plus icon. Tracks are a little different, in that they contain
      the actual music or ambience files.
    </p>
    <h3>Files</h3>
    <p>
      To add a file, click the button with a gear icon on a track or effect. On the popup that comes up, press
      the "add file to track"-button, and select an audio file on your computer. It will get added to the track,
      and copied to the audio-folder of this programs directory. If you have multiple files on a track,
      the program will randomize which one to get everytime a track plays, or ends.
    </p>
    <p>
      If you don't have files added to a track, the play button will not be
      clickable, and the gear button will pulsate, to give you a pointer of where fix it.
    </p>
    <h3>Effects</h3>
    <p>
      Effects are essentially just tracks too, but they are not faded in our out, and they are not looped.
      They are automatically assigned to keyboard shortcuts, so you can play either by pressing your keyboard,
      or by clicking with the mouse. The shortcut is displayed right in the center of the clickable button,
      so you can see the shortcut at a quick glance in the heat of battle.
    </p>
    <p>
      Finally, you can reorder any list by grabbing the grid pattern next to an entry, and drag it up or down.
    </p>

    <h3>Setting</h3>
    <h4>Colors</h4>
    <p>
      To access the settings, click the cogwheel at the lower left of the screen.
      You can also choose the UI colors to your desires, by setting a primary color, and an accent color.
    </p>
    <p>You can always revert back to the default brown theme by hitting the Reset theme button.</p>
    <h4>Background image</h4>
    <p>
      You can add a background image, either as an external URL, or by putting an image file inside the app directory
      with the name "bg".
    </p>
    <footer>Made by <a href="https://github.com/jarnalyrkar">jarnalyrkar@github</a></footer>
  </div>
</div>