<header>
  <h2>Add <%= type %></h2>
  <fieldset class="create-inputs">
    <input type="text" id="new-<%= type %>" placeholder="<%= placeholder %>">
    <button class="button button--action" data-action="add">
      <%- include('../icons/plus.svg') %>
    </button>
  </fieldset>
</header>