<div class="track-row">
  <div class="track-info">
    <span class="track-title">Music</span>
    <div class="volume-bar">
      <%- include("./icons/play.svg") %>
      <div class="volume-bar-background">
        <input class="track-volume" type="range" min="0" max="100" value="75">
      </div>
    </div>
  </div>
</div>