<div class="track__row">
  <div class="track__info">
    <span class="track__title"><%= title %></span>
    <div class="volume-slider">
      <%- include("../icons/speaker.svg") %>
      <div class="volume-slider__background">
        <input class="volume-slider__bar" type="range" min="0" max="100" value="75">
      </div>
    </div>
  </div>
  <%- include('actions') %>
</div>