main {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  height: 100vh;
}
#theme { // Skal settes av client-js
  width: 400px;
}
.theme-related {
  display: grid;
  justify-content: space-between;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  margin-left: 1rem;
  gap: 1rem;
  flex: 1;
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-600);
  border-top: var(--primary-200) 2px solid;
  padding: .5rem 1rem;
  color: var(--accent);
  align-items: center;
  &__buttons {
    display: flex;
    flex-direction: row;
    gap: .5rem;
  }
}

.create-inputs {
  display: flex;
  gap: .5rem;
}

.actions {
  display: flex;
  gap: .5rem;
}