section:not(#effect) .list__item + .list__item {
  margin-top: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 1rem;
  & .list__item {
    display: flex;
    gap: .5rem;
    & > input[type=button],
    & > input[type=text],
    & > textarea {
      background-color: var(--primary-500);
      color: var(--accent);
      border: 1px solid var(--primary-300);
      padding: .5rem 1rem;
      flex: 1;
      text-align: start;
      transition: background-color 300ms, transform 200ms;
      white-space: break-spaces;
      outline: none;
      font-size: 1rem;
      &:hover {
        background-color:var(--primary-100);
      }
      &:active {
        transform: rotate(1deg);
      }
    }
    & input[type=text] {
      padding-right: 0;
    }
    & input[type=button] {
      pointer-events: auto;
    }
    &[data-state=selected] {
      & input[type=button] {
        color: var(--primary-600);
        border: 1px solid var(--primary-300);
        background-color: var(--accent);
      }
    }
    &[draggable="true"]::before {
      pointer-events: auto;
      content: "";
      width: 15px;
      display: block;
      cursor: move;
      background-color: var(--accent-trans);
      filter: brightness(2);
      -webkit-mask-size: 100%;
      mask-size: 100%;
      -webkit-mask-image: url(../../assets/img/boxes-horizontal.svg);
      mask-image: url(../../assets/img/boxes-horizontal.svg);
      -webkit-mask-repeat: repeat-y;
      mask-repeat: repeat-y;
    }
  }
}