#theme {
  transition: width 250ms linear, transform 250ms linear;
  width: 100%;
  overflow: hidden;
  max-width: 400px;
  &.shrinking {
    transition: width 250ms linear, transform 250ms linear;
    ~ .theme-related {
      grid-template-columns: clamp(300px, 21vw, 400px) minmax(0, 1fr) minmax(0, 1.5fr);
      width: 100%;
      margin-left: unset;
    }
    + .theme-related #effect .list {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  }
}